<div id="service-show">
  <b><%= service.title %></b>
  <div class="photo">
    <%= image_tag service.photo.url(:small) %>
  </div>
  <div class="short-description">
    <%= service.short_description %>
  </div>
  <div class="full-description">
    <%= service.description %>
  </div>
<br /><br />
</div>