<div id="service-show">
  <b><%= link_to service.title, service %></b>
  <div class="photo">
    <%= image_tag service.photo.url(:small) %>
  </div>
  <div class="short-description">
    <%= raw(service.short_description) %>
  </div>
  <div class="full-description">
    <%= raw(service.description) %>
  </div>
<br /><br />
</div>