<div id="service-show">
  <h1 class="title"><%= @service.title %></h1>
  <div class="short-description">
    <%= @service.short_description %>
  </div>
  <div class="full-description">
    <%= @service.description %>
  </div>
</div>