<p><b><%= @service.title %></b></p>
<br />
<p><%= image_tag @service.photo.url(:small) %></p>
<ul>
  <li><b>Краткое описание:</b></li>
  <li><%= @service.short_description %></li>
  <li><b>Полное описание:</b></li>
  <li><%= @service.description %></li>
</ul>