<div class="search_result">
  <%= notice_msg(flash[:notice]) %>
  <div class="title_result">
    Результаты поиска:
  </div>
  <h1 class="title">Услуги:</h1><br />
  <%= render @services %>
  <% unless @services.size > 0  %>
    <p>Не найдено</p><br />
  <% end  %>
  <h1 class="title">Клиенты:</h1><br />
  <% unless @clients.size > 0  %>
    <p>Не найдено</p>
  <% else %>
    <ul>
      <%= render @clients %>    
    </ul>
  <% end  %>
</div>
<div class="clear"></div>