<div id="contacts-page">
  <h1 class="contact-title">Контакты</h1>
  <div id="map-firma">
    <%= link_to(
      image_tag('/assets/map-podolsk.png', :title => "Схема проезда"), '/assets/map-podolsk.png'
      )%>
  </div>
  <div id="main-contacts">
    <h1>ООО «Баннер-проф»</h1>
    <h1>Адресс: <span>Московская область, город Подольск, Гаражный проезд</span></h1>
    <h1>Телефон: <span>+7 (965) 244-3333</span></h1>
    <h1>Факс: <span>+7 (495) 372-0027</span></h1>
    <h1>e-mail: <span><a href="mailto:ivan.sherbakov@bk.ru">ivan.sherbakov@bk.ru</a></span></h1>
  </div>
  <div class="clear"></div>
</div>