<div id="contacts-page">
  <h1 class="contact-title">Контакты</h1>
  <div id="map-firma">
    <%= link_to(
      image_tag('/assets/map-firma.png', :title => "Схема проезда"), '/assets/map-firma.png'
      )%>
  </div>
  <div id="main-contacts">
    <h1>Адресс: <span>Москва, ул. Мусы Джалиля вл.12</span></h1>
    <h1>Телефон: <span>+7 (495) 395-7918, +7 (965) 244-3333</span></h1>
    <h1>e-mail: <span><a href="mailto:info@obl-reklama.ru">info@obl-reklama.ru</a></span></h1>
  </div>
  <div class="clear"></div>
</div>