<h1 class="title-content">Немного о нас</h1>
<div id="about-main">
  <p>Самой древней рекламой является наружная реклама, размещенная над магазином, кафе, парикмахерской и т.д, и содержащая название заведения, а также имя хозяина.Сегодня наружную рекламу используют для информации и рекламы, однако поменялись материалы и формы подачи.Наружные вывески бывают: световые и несветовые, короба или объемные буквы на ткани или пластике. Для разработки наружной рекламы дизайнеры и изготовители сочетают фантазию, а также весь арсенал технических возможностей.
  </p>
  <h1>Наши преимущества</h1>
  <p>Работая на рынке не один год, мы накопили значительный опыт в оформлении витрин, выставочных стендов, торговых точек. С примерами наших некоторых работ вы можете ознакомиться в разделе <a href="#">“Наши работы”</a>.
  </p>
  <p>- Опыт работы в производстве наружной рекламы. Вы можете оценить рекламные конструкции в разделе .</p>
  <p>- Профессионализм. Качественное изготовление неоновой наружной рекламы невозможно без специалистов. Только опытному мастеру дела известно, какие цвета вызовут приятные ассоциации, а какие употреблять в данной композиции нельзя. Можно ли сочетать на синем фоне темно-зеленые ...</p>
  <p>- Креатив. Изготовление успешной наружной рекламы невозможно без свежих идей. Эти идеи должны идти в ногу со временем и содержать в себе современные тенденции рекламного оформления. Просмотрите раздел “Наши работы”
  </p>
</div>
