<h1 class="title-content">Немного о нас</h1>
<div id="about-main">
  <p>Самой древней рекламой является наружная реклама, размещенная над магазином, кафе, парикмахерской и т.д, и содержащая название заведения, а также имя хозяина.Сегодня наружную рекламу используют для информации и рекламы, однако поменялись материалы и формы подачи.Наружные вывески бывают: световые и несветовые, короба или объемные буквы на ткани или пластике. Для разработки наружной рекламы дизайнеры и изготовители сочетают фантазию, а также весь арсенал технических возможностей.
  </p>
  <h1>Наши преимущества</h1>
  <p>Работая на рынке более 5 лет, мы накопили значительный опыт в оформлении витрин и торговых точек. С примерами наших некоторых работ вы можете ознакомиться в разделе <a href="#">“Наши работы”</a>.
  </p>
  <p class="geo">
    - География. Мы работаем со всей московской облостью и прилегающим к ним регионам
  </p>
</div>
