<div id="price-index">
  <table id="myScrollTable" >
    <thead>
    <tr>
      <th>Услуга</th>
      <th>Цена</th>
    </tr>
    </thead>
    <% @prices.each do |f| %> 
    <tbody>
    <tr>
      <td><%= f.service.title %></td>
      <td> <%= number_to_currency(f.price, :locale => :ru) %></td>
    </tr>
    </tbody>   
    <% end %>
  </table>
</div>

