<div id="price-index">
  <table >
    <tr>
      <td>Услуга</td>
      <td>Цена</td>
    </tr>
    <% @prices.each do |f| %> 
    <tr>
      <td><%= f.service.title %></td>
      <td> <%= f.price %></td>
    </tr>   
    <% end %>
  </table>
</div>
