<div id="price-index">
  <div class="price-title">
    <h1>Цены</h1>
  </div>
  <table id="price-table">
    <tr id="head-info">
      <td>Услуга</td>
      <td>Цена</td>
      <td>Комментарий</td>
    </tr>
    <% @prices.each do |p| %>
      <tr>
        <td class="title-price"><%= p.service.title %></td>
        <td class="rub-price">
          <%= p.price.empty? ? "По договоренности" : p.price %>
        </td>
        <td><%= p.comment %></td>
      </tr>
    <% end %>
  </table>
</div>

