#wrapper{
  width:1000px;
  margin:0 auto;
  #header{
    height:50px;
    padding-left:10px;
    padding-top:30px;
    font: 1.7em/1.5em "Arial Narrow", helvetica, verdana, arial, times, "Times New Roman", sans-serif
  }
}
a{
  color:#4D4D4D;
}
#menu{
  font: 1.0em/1.5em Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif;
  height:40px;
  ul li{
    float:left;
    margin-right:10px;
    padding-top:10px;
  }
}
#content{
  clear:both;
  padding:5px;
}
#footer{
  clear:both;
  height:60px;
  font: 0.7em/1.5em Arial, "Times New Roman", sans-serif
}