html,body{
  background:#fbfbfb url('background-top.png') repeat-x;
  color:#7f8080;
  font:12px/16px Tahoma, Arial, sans-serif;
}
#wrapper{
  width:1000px;
  margin:0 auto;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.7); /* Для Firefox */
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7); /* Для Safari и Chrome */
  box-shadow: 0 0 5px rgba(0,0,0,0.7); /* Параметры тени */ 
}
#header{
  height:95px;
  border-top:3px solid #2e2e2e;
}
#logo{
  width:171px;
  height:80px;
  margin-left:28px;
  float:left;
}
/* telephone in header */
#telephone-header{
  float:left;
  margin-left:280px;
  width:300px;
  margin-top:35px;
/*  border:1px solid #ccc;*/
}
#telephone-header h2{
  font-size:14px;
  font-family:Arial,Tahoma,sans-serif;
  color:#818282;
  margin-bottom:5px;
}
#telephone-header h2 span{
  font-size:22px;
  margin-left:25px;
}
#telephone-header h2 a{
  color:#7c9caf;
  text-decoration:underline;
}
#telephone-header h2 a:hover{
  text-decoration:none;
}
/* download price list block*/
#price-list{
  float:left;
  height:40px;
  width:95px;
  margin-top:28px;
  margin-left:80px;
  font-family:Arial, Tahoma, sans-serif;
}
#price-list p{
  font-size:12px;
  text-align:right;
}
#price-list #download-price-list{
  height:20px;
  margin-top:7px;
  background:url('excel-icon.png') no-repeat 5px 2px;
  padding-top:5px;
}
#price-list #download-price-list a{
  color:#707070;
  font-size:16px;
  text-decoration:underline;
  margin-left:32px;
}
#price-list #download-price-list a:hover{
  text-decoration:none;
}

/* main menu */
#main-menu{
  clear:both;
  border:1px solid #ccc;
  height:41px;
  width:990px;
  margin:4px auto;
  background:url('menu-background.png') repeat-x;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -o-border-radius:5px;
  border:1px solid #000;
  font-family:"Arial Narrow", Arial, Tahoma, sans-serif;
}
#main-menu ul{
  float:left;
}
#main-menu ul li{
  float:left;
  text-align:center;
  background:url('dif_li.png') no-repeat;
}
#main-menu ul #first{
  background:none;
}
#main-menu ul li a{
  display:block;
  color:#e1e1e1;
  font-size:14px;
  text-decoration:none;
  padding:13px 30px;
}
#main-menu ul li a:hover{
  background:url('background-menu-hover.png') repeat-x;
}
#main-menu ul #first a:hover{
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  background:url('background-menu-hover.png') repeat-x;
}
/*search in menu*/
#main-menu #search{
/*  border:1px solid #ccc;*/
  margin-top:9px;
  margin-right:10px;
  float:right;
}
#main-menu #search input{
  border:none;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -o-border-radius:8px;
  height:20px;
  width:200px;
  padding:0px 10px;
  background:#fff url('search-icon.png') no-repeat 200px;
}

/* SLIDER */
#slider{
  height:360px;
  margin-top:20px;
}
.slider-content{
  float:left;
}
.slider-woman{
  float:left;
  width:440px;
  height:360px;
}
.slider-text{
  width:370px;
  margin-left:90px;
  margin-top:60px;
  text-align:left;
}
.slider-text h1{
  font: 28px/1.0em "Arial Narrow", Arial, Tahoma, sans-serif;
  margin-bottom:10px;
  margin-top:5px;
}
.slider-text h3{
  margin:15px 0px;
  font: 18px/1.2em "Arial Narrow", Arial, Tahoma, sans-serif;
}
.slider-text p{
  font: 12px/14px Tahoma,Arial,sans-serif;
}
.slider-text .slide-text-more{
  text-align:right;
  margin-top:10px;
}
.slider-text .slide-text-more a{
  color:#818181;
  text-decoration:underline;
}
.slider-text .slide-text-more a:hover{
  text-decoration:none;
}
.slider-image{
  float:left;
  width:456px;
  height:360px;
  margin-left:50px;
}
.left-arrow{
  float:left;
  margin-top:170px;
  margin-left:5px;
}
.right-arrow{
  float:right;
  margin-top:170px;
  margin-right:5px;
}
/* main content */
#main-content{
  padding:25px 19px 19px 19px;    
  background:url('main-content-background.png');  
}
/* our works */
#our-works{
  height:221px;
}
#our-works-header{
  height:37px;
  margin-top:10px;
  border-bottom:1px solid #ddd;
}
#our-works #our-works-header h1{
  font: 22px/1.0em "Arial Narrow", Arial, Tahoma, sans-serif;
  float:left;
  height:28px;
  width:250px;
  background:url('our-work-icon.png') no-repeat 150px top;
}
#our-works #our-works-header #arrows-works{
  float:right;
  margin-top:5px;
}
#our-works #our-works-header #arrows-works img{
  margin-left:10px;
}
#our-works .img-works{
  clear:both;
  margin-top:25px;
  height:157px;
}
.img-works li{
  float:left;
  width:182px;
  height:157px;
  border:1px solid #ccc;
  margin-right:4.2px;
  margin-left:4.2px;
  background:#fff;
  text-align:center;
}
.img-works li img{
  margin-top:12px;
  width:164px;
  height:134px;
}
/* sidebar */
#sidebar{
  float:left;
  margin-top:25px;
  width:262px;
  padding-left:5px;
}
/* services block */
#services{
  margin-bottom:25px;
  padding-bottom:40px;
  border-bottom:1px solid #ddd;
}
#services .title-services{
  font: 22px/1.0em "Arial Narrow", Arial, Tahoma, sans-serif;
  background:url('services_icon.png') no-repeat 85px 0px;
  height:26px;
  width:262px;
  border-bottom:1px solid #ddd;
  padding-bottom:4px;
  padding-top:4px;
  color:#5f5f5f;
}
#services ul{
  margin-top:23px;
}
#services ul li{
  height:17px;
  margin-bottom:8px;
  background:url("list-services.png") no-repeat;
  padding-left:28px;
}
#services ul li a{
  color:#737373;
  text-decoration:underline;
  font-size:14px;
  font-family:Arial, Tahoma, sans-serif;
}
#services ul li a:hover{
  color:#2a90c1;
  text-decoration:none;
}
#orderphone{
  margin-top:25px;
  border-bottom:1px solid #ddd;
  padding-bottom:30px;
}
.block-online{
  width:259px;
  height:184px;
  background:url('online-block-back.png');
  border:1px solid #ccc;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -o-border-radius:10px;
}
.online-telephone{
  margin-left:11px;
  margin-top:14px;
  width:235px;
  height:68px;
  background:url('telephone-online.png') no-repeat;
}
.faq-online{
  margin-left:11px;
  margin-top:14px;
  width:235px;
  height:68px;
  background:url('faq-online-back.png') no-repeat;
}
.online-telephone img{
  margin-top:13px;
  margin-left:14px;
}
.faq-online img{
  margin-top:13px;
  margin-left:16px;
}
.block-online img:hover{
  opacity:0.9;
}
/* clear block */
.clear{
  clear:both;
}
.order-description{
  margin-top:20px;
  font-size:11px;
  font-family:Tahoma, Arial, sans-serif;
  line-height:18px;
}
a{
  color:#7f8080;
}
a:hover{
  text-decoration:none;
}
#social-links{
  height:32px;
  margin-top:16px;
}
#social-links li{
  float:left;
  margin-right:20px;
}
/* content */
#content{
  margin-top:25px;
  margin-left:300px;
}
.title-content{
  font: 22px/1.0em "Arial Narrow", Arial, Tahoma, sans-serif;
  background:url('about-us-icon.png') no-repeat 160px 4px;
  height:26px;
  border-bottom:1px solid #ddd;
  padding-bottom:4px;
  padding-top:5px; 
  color:#5f5f5f;
}
#about-main{
  margin-top:20px;
  font-size:11px;
  font-family:Tahoma, Arial, sans-serif;
  color:#6e6e6e;
  padding-bottom:33px;
  border-bottom:1px solid #ddd;
}
#about-main h1{
  font: 22px/1.0em "Arial Narrow", Arial, Tahoma, sans-serif;
  margin:15px 0px;
  color:#5f5f5f;
}
#about-main p{
  margin:12px 0px;
  line-height:20px;
}

/* regions */
#regions{
  height:295px;
  padding-bottom:18px;
  margin-top:20px;
  border-bottom:1px solid #ddd;
}
.list-regions{
  width:380px;
  float:left;
}
.title-regions{
  font: 1.3em/1.0em "Arial Narrow", Arial, Tahoma, sans-serif;
  text-decoration:underline;
  color:#5f5f5f;
}
.list-regions ul{
  margin-top:18px;
  height:227px;
  font-size:11px;
  font-family:Tahoma, Arial, sans-serif;
}
.list-regions ul li{
  width:110px;
  margin-left:10px;
  float:left;
}
.list-regions ul li a{
  text-decoration:none;
}
.list-regions ul li a:hover{
  text-decoration:underline;
}
.map-regions{
  background:url('map-moscow.png') no-repeat;
  width:279px;
  height:265px;
  float:left;
}
#footer{
  clear:both;
  text-align:center;
}
