<div id="header">
  <div id="logo">
    <a href="index.html"><%= link_to image_tag('logo.png'), root_path %></a>
  </div>
  <div id="telephone-header">
    <h2>Наш телефон: <span>+7 (965) 244-3333</span></h2>
  </div>
  <div id="price-list">
    <p>прайс лист</p>
    <div id="download-price-list">
      <%= price_download %>
    </div>
  </div>
</div>
