    <div id="main-menu">
      <ul>
        <li id="first"><%= link_to "ГЛАВНАЯ", root_path %></li>
        <li><%= link_to "УСЛУГИ", services_path %></li>
        <li><a href="#">ЦЕНЫ</a></li>
        <li><a href="#">КЛИЕНТЫ</a></li>
        <li><a href="#">КОНТАКТЫ</a></li>
      </ul>
      <div id="search">
        <input type="text" name="search" placeholder="Поиск">
      </div>
    </div>
