    <div id="main-menu">
      <ul>
        <li id="first"><a href="/home">ГЛАВНАЯ</a></li>
        <li><a href="#">УСЛУГИ</a></li>
        <li><a href="#">ЦЕНЫ</a></li>
        <li><a href="#">КЛИЕНТЫ</a></li>
        <li><a href="/contacts">КОНТАКТЫ</a></li>
      </ul>
      <div id="search">
        <input type="text" name="search" placeholder="Поиск">
      </div>
    </div>
