<div id="regions">
  <div class="list-regions">
    <h1 class="title-regions">Мы работаем с регионами Московской области</h1>
    <ul>
      <li>
        <div>Апрелевка</div>
        <div>Балашиха</div>
        <div>Бронницы</div>
        <div>Верея</div>
        <div>Видное</div>
        <div>Волоколамск</div>
        <div>Воскресенск</div>
        <div>Высоковск</div>
        <div>Дедовск</div>
        <div>Дзерджинский</div>
        <div>Дмитров</div>
        <div>Долгопрудный</div>
        <div>Домодедово</div>
      </li>
      <li>
        <div>Коломна</div>
        <div>Королев</div>
        <div>Красноармейск</div>
        <div>Красногорск</div>
        <div>Краснозаводск</div>
        <div>Краснознаменск</div>
        <div>Куровское</div>
        <div>Ликино-Дулево</div>
        <div>Лобня</div>
        <div>Лосино-Петровский</div>
        <div>Луховицы</div>
        <div>Лыткарино</div>
        <div>Люберцы</div>
      </li>
      <li>
        <div>Пущино</div>
        <div>Раменское</div>
        <div>Реутов</div>
        <div>Рошаль</div>
        <div>Руза</div>
        <div>Сергиев Посад</div>
        <div>Серпухов</div>
        <div>Солнечногорск</div>
        <div>Ступино</div>
        <div>Сходня</div>
        <div>Талдом</div>
        <div>Троицк</div>
        <div>Фрязино</div>
      </li>
    </ul>
  </div>
  <div class="map-regions">
            
  </div>
  <div class="clear"></div>
</div>
