<div id="sidebar">
  <div id="services">
    <h1 class="title-services">Услуги</h1>
    <ul>
      <% @services.each do |s| %>
        <% if isset_sub?(s) %>
          <li>
            <%= link_to s.title, s %>
            <%= raw(find_all_services(s)) %>
          </li>
        <% else %>  
          <li><%= link_to s.title, s %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
