<div id="sidebar">
  <div id="services">
    <h1 class="title-services">Услуги</h1>
    <ul>
      <% @services.each do |s| %>
        <li><%= link_to s.title, s %></li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
</div>
