<div id="slider">
  <div class="left-arrow">
    <%= link_to image_tag('left-arrow.png'),"#" %>
  </div>
  <div class="slider-content">
    <div class="slider-text">
      <h1>Наружная реклама</h1>
      <h3>Изготовление и согласование 
          рекламных конструкций всех 
          видов, любой сложности. 
          Мы уверены в качестве нашей 
          работы, поэтому даем гарантию 
          на нашу продукцию</h3>
        <p>
            Качественное изготовление неоновой 
              наружной рекламы невозможно без 
              специалистов. Только очень опытному 
              мастеру дела известно, какие цвета 
              вызовут приятные ассоциации, а какие 
              употреблять в данной композиции 
              нельзя. Можно ли сочетать на синем 
              фоне темно-зеленые ...            
        </p>
        <div class="slide-text-more">
          <a href="#">Подробнее</a>
        </div>
      </div>
      <div class="slider-image">
      </div>
    </div>
    <div class="right-arrow">
      <%= link_to image_tag('right-arrow.png'),"#" %>
    </div>
</div>
